@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700;900&display=swap');


.legalEntity{
    display: flex;
    justify-content: center;
}
.persons{
    display: flex;
    justify-content: center;
    color: rgb(13, 77, 13);
}

.logo {
    width: 21.875rem;
}

.nav{
    color: rgb(53 93 98);
}
.nav:hover{
  color:#212529;
}

.leNav{
    color: #223334;
    font-size: 18px;
    font-family: sans-serif;
}
.navbar-nav .nav-link.active{
  color: #212529;
  font-size: 18px;
    font-family: sans-serif;
    font-weight: bold;
}

.persNav{
    color: #223334;
    font-size: 18px;
    font-family: sans-serif;
}
.persNav:hover{
    color: #212529
}
.login{
    color: #b0dfd7;
    font-size: 18px;
    font-family: sans-serif;
}
.login:hover{
    color: #00a48a;
}

/* Menu start */ 
.startmenu {
    display: flex;
    flex: 1 1 auto;
    margin-top: 5%;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
        a{
            color: #223334;
        }
        a:hover{
            color:#00a48a;
        }
        h1{
        color: #223334;
        }
        h2{
        color:#005d62;
        }

.spin{
    margin-top: 25px;
    width: 171px;
    height: 171px;
    background-image: url('../images/Cube-1.8s-171px.svg') ;
}

.footer{
  display: flex;
  align-items: center;
  justify-content: center;
  flex: 0 0 auto;
  padding: 0.625rem;
  margin-top: 15px;
  bottom: 0rem;
  background-color: #212529;
  color: #00a48a;
  width: 100%;
}
.footer p{
  font-family: Haettenschweiler, 'Arial Narrow', sans-serif;
  font-size: 16px;
}




/* Cool infinite background scrolling animation.
 * Twitter: @kootoopas
 */
/* Exo thin font from Google. */
@import url(https://fonts.googleapis.com/css?family=Exo:100);
/* Background data (Original source: https://subtlepatterns.com/grid-me/) */
/* Animations */
@-webkit-keyframes bg-scrolling-reverse {
  100% {
    background-position: 50px 50px;
  }
}
@-moz-keyframes bg-scrolling-reverse {
  100% {
    background-position: 50px 50px;
  }
}
@-o-keyframes bg-scrolling-reverse {
  100% {
    background-position: 50px 50px;
  }
}
@keyframes bg-scrolling-reverse {
  100% {
    background-position: 50px 50px;
  }
}
@-webkit-keyframes bg-scrolling {
  0% {
    background-position: 50px 50px;
  }
}
@-moz-keyframes bg-scrolling {
  0% {
    background-position: 50px 50px;
  }
}
@-o-keyframes bg-scrolling {
  0% {
    background-position: 50px 50px;
  }
}
@keyframes bg-scrolling {
  0% {
    background-position: 50px 50px;
  }
}
/* Main styles */
body {
  background-color: #f8f9fa;
  height: 100%;
}
body::before {
  font-size: 8rem;
  font-weight: 100;
  font-style: normal;
}

.certStart{
  margin: 0;
  margin-bottom: -23px;
  color: #212529a4;
}
.certEnd{
  margin: 0;
  margin-top: -5px;
  margin-bottom: -23px;
  color: #212529a4;
}

.startAtt{
  margin: 0;
  margin-bottom: -23px;
  color: #212529a4;
}
.endAtt{
  margin: 0;
  margin-top: -5px;
  margin-bottom: -23px;
  color: #212529a4;
}

@media screen and (max-width: 490px) {
  .logo {
    width: 150px;
}
.leNav{
  font-size: 15px;
}
.persNav{
  font-size: 15px;
}
html {
  width: 100%;
}
}

.detailsForm {
  margin-top: 5%;
    display: flex;
    flex-direction: row;
    text-align: center;
    justify-content: space-around;
    margin-bottom: 80px;
}
.detailsForm h1 {
  font-family: 'Roboto', sans-serif;
  padding: 5px;
  font-size: 26px;
  text-align: center;
}
.detailsForm p{
  font-size: 18px;
  margin-top: 0.375rem;
  margin-bottom: 0.5rem;
  color: #005d62;
}


.certificaton {
  display: flex;
  flex-direction: column;
  text-align: center;
}
.insurance {
  margin-top: 20px;
  display: flex;
  flex-direction: column;
  text-align: center;
}
.attestation {
  margin-top: 20px;
  display: flex;
  flex-direction: column;
  text-align: center;
}